* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-logo-new {
    position: absolute;
    width: 100%;
    padding: 11px 8px;
    top: -5px;
    left: 75px;
}

.titulo-registro {
    width: 100%;
    height: 65px;
    font-size: 20px;
    padding: 10px;
}

.titulo-registro h1 {
    text-align: center;
}

.registro-container {
    height: 720px;
    padding: 28px;
    margin: -20px auto;
}

.registro-apoderado {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 550px;
}

.registro-apoderado h2,
.registro-alumno h2 {
    margin: 0px 0px 20px;
}

.formulario-apoderado {
    width: 640px;
}

.registro-alumno {
    height: 550px;
}

.input-box {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.input-box label {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box-a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-padron {
    height: 45px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #CECECE;
    background-color: #F9F9F9;
    padding: 11px 15px 11px 15px;
}

.input-padron-a {
    height: 45px;
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid #CECECE;
    background-color: #F9F9F9;
    padding: 11px 15px 11px 15px;
}

.comentario{
    width: 400px;
}

.input-padron-b {
    height: 45px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #CECECE;
    background-color: #F9F9F9;
    padding: 11px 15px 11px 15px;
}

.boton-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton {
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-size: 1em;
    transition: .5s all;

}

.boton:hover,
.enviar:hover {
    cursor: pointer;
    background: #0e669c;
    color: white;
}

.boton-container-r {
    display: flex;
    justify-content: space-around;
}

.input-box-f {
    display: flex;
    padding-bottom: 20px;
    width: 400px;
}

.input-box-f label {
    color: black;
    font-weight: bold;
    margin: auto 0;
}

.input-padron-f {
    margin: auto 0;
    width: 50px;
    min-width: 50px;
    text-align: center;
}

.botones-container{
    margin: 0 0 0 20px;
}

.btn-aumentar{
    margin: auto 5px;
    width: 30px;
    height: 30px;
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(58, 58, 58, 0.8);
    z-index: 10000;
    visibility: hidden;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    text-align: center;
}

.modal-content h2 {
    color: #6B6B6B;
    font-size: 23px;
    margin: 10px 0;
}

.modal-content p {
    color: #6B6B6B;
    font-size: 16px;
    margin: 15px 0;
    font-weight: bold;
    padding: 0 20px;
}

.close button {
    width: 117px;
    height: 32px;
    background: #00a1e4;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    margin: 15px 0;
}

.close button:hover {
    cursor: pointer;
    background: #0e669c;
}

#form-apoderado {
    display: none;
}

#responsable {
    display: none;
}

#documentos {
    display: none;
}

#form-apoderado-madre {
    display: none;
}

#form-alumno {
    display: none;
}